{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<h1 class="text-center mb-1">User Portal</h1>
<div class="d-flex justify-content-end gap-2 align-items-center">
    <a href="{% url 'upload' %}">
        <button class="btn btn-primary mt-4 btn-sm" type="submit">Upload Image</button>
    </a>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger mt-4 btn-sm" type="submit">Logout</button>
        </form>
    {% endif %}
</div>
{% if images %}
    <div class="row">
        {% for image in images %}
            <div class="col-md-4 mb-3">
                <div class="card text-white bg-dark shadow">
                    <div class="card-body">
                        <h5 class="card-title">Status</h5>
                        <p class="card-text">{{ image.status }}</p>
                        <h5 class="card-title">Problems</h5>
                        <ul class="list-group list-group-flush">
                            {{ image.problems}}
                        </ul>
                        <h5 class="card-title mt-2">Exercises</h5>
                        <ul class="list-group list-group-flush">
                            {{image.exercises }}
                        </ul>
                    </div> 
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}